footer.ui.grid.four.column
  //
    .column
      .ui.header Joinity™
    .column
      .ui.header
        .content Follow us in Facebook
          .sub.header Lorem ipsum dolor
    .column
      .ui.header
        .content Follow us in Twitter
          .sub.header Lorem ipsum dolor
    .column
      .ui.header Do you have any problem?
          .sub.header Lorem ipsum dolor