.item
  h3 Plans right for you

.ui.selection.dropdown
  i.dropdown.icon
  // Si hemos filtrado your hobbies cambia este texto
  .text Near from you
  .menu.ui.transition.hidden
    .item Near from you
    .item Your hobbies

.ui.one.items
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle

.item
  h3 Starred products
  
.ui.one.items
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
      p.jPrice
        | joinityPrice
      p.jBrand
        | joinityBrand
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
      p.jPrice
        | joinityPrice
      p.jBrand
        | joinityBrand
  .item.jStarred
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
      p.jPrice
        | joinityPrice
      p.jBrand
        | joinityBrand
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
      p.jPrice
        | joinityPrice
      p.jBrand
        | joinityBrand
  .item
    .image
      img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    .content
      p.jTitle
        | joinityTitle
      p.jPrice
        | joinityPrice
      p.jBrand
        | joinityBrand
  .item
    +