extends layout

block head

block content

  //Variable nombrePagina -> Ej: #home
  #nombrePagina.ui.grid
    .jHeader.sixteen.wide.column
      include ../includes/header
      
    .jLeftBar.four.wide.column.ui.vertical.menu
      include ../includes/leftBar
    
    .jMainContent.ten.wide.column
      include ../home/body
        .jFooter
          include ../includes/footer
    .jRightBar.two.wide.column
      include ../includes/rightBar