extends layout

block head

block content

  //Variable nombrePagina
  #nombrePagina
    .jHeader
      include ../includes/header
      
    .jSideBar
      include ../includes/leftBar
    
    .jMainContent
      include ../home/body
      
    .jRightBar
      include ../includes/rightBar
      
    .jFooter
      include ../includes/footer