.item.ui.header
  .ui.breadcrumb
    a(href="").section sectionName 
    i.right.arrow.icon.divider
    .active.section activeSection
.item
  .ui.divided.list
    a(href="").item
      .right.floated.tiny.teal.ui.button 2
      img(src="images/joinity-temp/avatar.jpeg",alt="")
      .content
        .header Titular
        .jData Detalles
        .text Descripción
    a(href="").item
      .right.floated.tiny.teal.ui.button 3
      img(src="images/joinity-temp/avatar.jpeg",alt="")
      .content
        .header Titular
        .jData Detalles
        .text Descripción