extends html-global

block head

block content

  //Variable nombrePagina -> Ej: #home
  #nombrePagina.ui.grid
    .jHeader.sixteen.wide.column
      include ../includes/header
      
    .jLeftBar.four.wide.column.ui.vertical.menu
      include ../includes/leftBar
    
    .jMainContent.ten.wide.column
      //Aquí extendemos la plantilla a su contenido específico
      block mainContent
      
      block footerContent
        .jFooter
          include ../includes/footer
    
    .jRightBar.two.wide.column
      include ../includes/rightBar
    
    //Modales
    include ../includes/searchModal
    block modalContent