html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #373232;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration:none;
  color:#555555;
}

a:hover {
  color:#777777;
}

.jSearchModal .submit {
  margin-top:17px;
}

.jLeftBar .two.column .item {
font-size: 11px;
text-transform: uppercase;
}

.ui.accordion, .ui.menu {
  box-shadow:none;
}

.ui.dimmer {
  background-color:rgba(255,255,255,.85);
}

.ui.basic.modal {
  color: gray;
}

.ui.items>.item {
  min-height:0;
}

.ui.one.items>.item {
  width: 85%;
}

body,.menu,.item {
  background-color:#F7F4E8!important;
}

p,h1,h2,h3,h4,h5,span {
  color:#373232;
}

.jMainContent .massive i img {
  margin-left: 10px;
  margin-top: -1px;
}