.ui.three.column.grid
  .column
  .column
    .jLogo
      h1 Joinity™
    .ui.form
      .field
        input(placeholder="Username", type="text")
      .field
        input(placeholder="Password", type="password")
      .two.fields
        .inline.field
          .ui.checkbox
            input(type="checkbox",id="terms")
            label(for="terms")
          label Remember me for one week
        .field
          a(href="") ¿Have you forgot your password?
      .ui.blue.submit.button Submit
    .column