extends ../../layouts/layout-2-columns-right

block breadcrumb
  a(href="").section sectionName 
  i.right.arrow.icon.divider
  .active.section activeSection

block listItemContent
  // Loop de lista de items
  a(href="").jActive.ui.item.top.aligned.three.column.grid
    .right.floated.tiny.teal.ui.button 2
    img.column(src="images/joinity-temp/avatar.jpeg",alt="")
    .content
      .header messageAuthor
      .metadata messageDate
      .text messageCaption