.ui.big.center.aligned.header
  //img(src="images/joinity-temp/avatar.jpeg",alt="").ui.image.floated
  p.ui.image.small.rounded
    img(src="images/joinity-temp/avatar.jpeg",alt="")
  h2
    .content userFullName
      .sub.header userCity, userBirthDate
  .ui.labelled.icon.button.inline
    i.edit.icon
    | Edit
  .ui.labelled.icon.button.inline
    i.users.icon
    | Contacts
  .ui.labelled.icon.button.inline
    i.users.icon
    | Profile

h3.ui.header Personal information
.ui.horizontal.section.divider

.ui.grid
  .row
    .wide.five.column
      p Name
    .wide.eleven.column
      p userFullName
  .row
    .wide.five.column
      p Email
    .wide.eleven.column
      p userEmail
  .row
    .wide.five.column
      p Gender
    .wide.eleven.column
      p userGender
  .row
    .wide.five.column
      p Age
    .wide.eleven.column
      p userAge
  .row
    .wide.five.column
      p Town
    .wide.eleven.column
      p userCity
  .row
    .wide.five.column
      p Phone
    .wide.eleven.column
      p userPhone
  .row
    .wide.five.column
      p DNI
    .wide.eleven.column
      p userDNI
  .row
    .wide.five.column
      p College
    .wide.eleven.column
      p userCollege
  .row
    .wide.five.column
      p Company
    .wide.eleven.column
      p userCompany
  .row
    .wide.five.column
      p Rating
    .wide.eleven.column
      p userRating
      
h3.ui.header Interests
.ui.horizontal.section.divider