- var variables = 'prueba superada';
friends = { hey:'hea' }

.ui.big.center.aligned.header(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
  //- img(src="/images/joinity-temp/avatar.jpeg",alt="").ui.image.floated
  p.ui.small.rounded.image
    img(src="/images/joinity-temp/avatar.jpeg",alt="")
  h2
    .content userFullName
      .sub.header userCity, userBirthDate

  .ui.small.images
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")

  a.ui.labelled.icon.inline.button(href="/user/edit")
    i.edit.icon
    | Edit #{hey}
  a.ui.labelled.icon.inline.button(href="/user/contacts")
    i.users.icon
    | Contacts
  a.ui.labelled.icon.inline.button(href="/user")
    i.users.icon
    | Profile
  a.ui.labelled.icon.inline.button(href="/user/settings")
    i.users.icon
    | Settings