include ../../mixins/modal-image

.ui.big.center.aligned.header(style="background-image:url('/images/joinity-temp/background.jpg')")
  //- img(src="/images/joinity-temp/avatar.jpeg",alt="").ui.image.floated
  p.ui.small.rounded.image
    img(src="/images/joinity-temp/avatar.jpeg",alt="")
  h2
    .content userFullName
      .sub.header userCity, userBirthDate

  .ui.small.images
    mixin modal-image('editUser-header-image01','/images/joinity-temp/avatar.jpeg','ui image')
    mixin modal-image('editUser-header-image02','/images/joinity-temp/avatar.jpeg','ui image')
    mixin modal-image('editUser-header-image03','/images/joinity-temp/avatar.jpeg','ui image')
    mixin modal-image('editUser-header-image04','/images/joinity-temp/avatar.jpeg','ui image')

  a.ui.labelled.icon.inline.button(href="/user/edit")
    i.edit.icon
    | Edit #{hey}
  a.ui.labelled.icon.inline.button(href="/user/contacts")
    i.users.icon
    | Contacts
  a.ui.labelled.icon.inline.button(href="/user")
    i.users.icon
    | Profile
  a.ui.labelled.icon.inline.button(href="/user/settings")
    i.users.icon
    | Settings