include ../headerProfile
include ../../../mixins/add-image
include ../../../mixins/checkbox
include ../../../mixins/select

h3.ui.header Edit your personal information
.ui.horizontal.section.divider

.ui.form.grid
  .row
    .wide.five.column
      p Full Name
    .wide.eleven.column.two.fields
      .field
        input(placeholder="First Name",type="text")
      .field
        input(placeholder="Last Name",type="text")
  .row
    .wide.five.column
      p Email
    .wide.eleven.column.field
      input(placeholder="Email" type="text")
  .row
    .wide.five.column
      p Gender
    .wide.eleven.column.field
      .grouped.inline.fields
      
        mixin checkbox('radio','checkR',['Male','Female','Other'] )
      
  .row
    .wide.five.column
      p Age
    .wide.eleven.column.field
      input(placeholder="Age" type="text")
  .row
    .wide.five.column
      p City
    .wide.eleven.column.field
      input(placeholder="City" type="text")
  .row
    .wide.five.column
      p College or center
    .wide.eleven.column.field
      input(placeholder="College or center" type="text")
  .row
    .wide.five.column
      p Company
    .wide.eleven.column.field
      input(placeholder="Company" type="text")
  .row
    .wide.five.column
    .wide.eleven.column.field
      .ui.submit.massive.button Save changes

h3.ui.header Edit your interests
.ui.horizontal.section.divider

h4.ui.header Hobbies

.ui.form.grid
  .row
    .wide.five.column
      p Wich ones are your favourites
    .wide.eleven.column
      mixin select ('Category', 'editUser-category' , ['categoryName01','categoryName02'] )
      mixin select ('Hobby', 'editUser-hobby' , ['hobbyName01','hobbyName02'] )
      .field
        label
        .ui.submit.button Add hobby

  .row
    .wide.five.column
      p Did't found your hobby in the list?
    .wide.eleven.column
      .field
        input(placeholder="Name your hobby",type="text")
      .field
        .ui.submit.button Add it to joinity

  .row
    .wide.five.column
      p Your hobbies
    .wide.eleven.column
      .ui.inline.fields

        mixin checkbox('checkbox','checkH',['hobbyName01','hobbyName02','hobbyName03'] )

      .field
        .ui.submit.button Save your changes

h4.ui.header Products

.ui.form.grid
  .row
    .wide.five.column
      p Wich ones are your favourites
    .wide.eleven.column
      mixin select ('Category', 'editUser-category-product' , ['categoryName01','categoryName02'] )
      mixin select ('Product', 'editUser-category-product' , ['productName01','prodyctName02'] )
      .field
        label
        .ui.submit.button Add product

  .row
    .wide.five.column
      p Did't found your product in the list?
    .wide.eleven.column
      .field
        input(placeholder="Name your hobby",type="text")
      .field
        .ui.submit.button Add it to joinity

  .row
    .wide.five.column
      p Your Products
    .wide.eleven.column
      .ui.inline.fields
      
        mixin checkbox('checkbox','checkP',['productName01','productName02','productName03'] )
      
      .field
        .ui.submit.button Save your changes

h3.ui.header Images
.ui.horizontal.section.divider

.ui.form.grid
  .row
    .wide.five.column
      p Cover image
    .wide.eleven.column
      mixin add-image('editUser-cover-addImg01', 'Upload it')
  .row
    .wide.five.column
      p Profile image
    .wide.eleven.column
      mixin add-image('editUser-profile-addImg01', 'Upload it')
  .row
    .wide.five.column
      p Hobbies images
        span  –Pictures of you doing awesome things
    .wide.eleven.column
      mixin add-image('editUser-addImg01', 'Upload one')
      mixin add-image('editUser-addImg02', 'Upload another')
      mixin add-image('editUser-addImg03', 'Upload one more')