include ../headerProfile


h3.ui.header Edit your personal information
.ui.horizontal.section.divider

.ui.form.grid
  .row
    .wide.five.column
      p Full Name
    .wide.eleven.column.two.fields
      .field
        input(placeholder="First Name",type="text")
      .field
        input(placeholder="Last Name",type="text")
  .row
    .wide.five.column
      p Email
    .wide.eleven.column.field
      input(placeholder="Email" type="text")
  .row
    .wide.five.column
      p Gender
    .wide.eleven.column.field
      .grouped.inline.fields
        .field
          .ui.radio.checkbox
            input#radio-id-01(type="radio",name="gender")
            label(for="radio-id-01")
          label(for="radio-id-01") Male
        .field
          .ui.radio.checkbox
            input#radio-id-02(type="radio",name="gender")
            label(for="radio-id-02")
          label(for="radio-id-02") Female
        .field
          .ui.radio.checkbox
            input#radio-id-03(type="radio",name="gender")
            label(for="radio-id-03")
          label(for="radio-id-03") Other
  .row
    .wide.five.column
      p Age
    .wide.eleven.column.field
      input(placeholder="Age" type="text")
  .row
    .wide.five.column
      p City
    .wide.eleven.column.field
      input(placeholder="City" type="text")
  .row
    .wide.five.column
      p College or center
    .wide.eleven.column.field
      input(placeholder="College or center" type="text")
  .row
    .wide.five.column
      p Company
    .wide.eleven.column.field
      input(placeholder="Company" type="text")
  .row
    .wide.five.column
    .wide.eleven.column.field
      .ui.submit.massive.button Save changes

h3.ui.header Edit your interests
.ui.horizontal.section.divider

.ui.grid
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle