include ../headerProfile


h3.ui.header Edit your personal information
.ui.horizontal.section.divider

.ui.form.grid
  .row
    .wide.five.column
      p Full Name
    .wide.eleven.column.two.fields
      .field
        input(placeholder="First Name",type="text")
      .field
        input(placeholder="Last Name",type="text")
  .row
    .wide.five.column
      p Email
    .wide.eleven.column.field
      input(placeholder="Email" type="text")
  .row
    .wide.five.column
      p Gender
    .wide.eleven.column.field
      .grouped.inline.fields
        .field
          .ui.radio.checkbox
            input(type="radio",name="example")
            label
          label Male
        .field
          .ui.radio.checkbox
            input(type="radio",name="example")
            label
          label Female
        .field
          .ui.radio.checkbox
            input(type="radio",name="example")
            label
          label Other
  .row
    .wide.five.column
      p Age
    .wide.eleven.column.field
      input(placeholder="Age" type="text")
  .row
    .wide.five.column
      p City
    .wide.eleven.column.field
      input(placeholder="City" type="text")
  .row
    .wide.five.column
      p College or center
    .wide.eleven.column.field
      input(placeholder="College or center" type="text")
  .row
    .wide.five.column
      p Company
    .wide.eleven.column.field
      input(placeholder="Company" type="text")
.ui.submit.massive.button Save
  
h3.ui.header Edit your interests
.ui.horizontal.section.divider

.ui.grid
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle
  a.wide.four.column(href="")
    img.ui.image(src="/images/joinity-temp/avatar.jpeg",alt="")
    p interestTitle