.ui.threaded.comments
  .comment
    a.avatar
      img(src="images/joinity-temp/avatar.jpeg",alt="")
    .content
      a.author Dog Doggington
      p.metadata
        span.date 2 days ago
      p.text
      | I think this is a great idea and I am voting on it
      p.actions
        a.reply Reply
    //Si hay respuesta al comentario
    .comments
        .comment
          a.avatar
            img(src="images/joinity-temp/avatar.jpeg",alt="")
          .content
            a.author Dog Doggington
            p.metadata
              span.date 2 days ago
            p.text
            | I think this is a great idea and I am voting on it
            p.actions
              a.reply Reply