a(href="").ui.item.top.aligned.three.column.grid
  .right.floated.tiny.teal.ui.button 2
  img.column(src="images/joinity-temp/avatar.jpeg",alt="")
  .content
    .header messageAuthor
    .metadata messageDate
    .text messageCaption